.landingWrap {
  max-width: 100%;
  background-image: url('../static/landing.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  height: 100vh;
  justify-content: space-between;
  font-weight: 100; /* 100, 200, 300, ... 900, normal, bold, bolder, lighter */
}

.landingContent {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
  font-weight: bold;
  padding-top: 20%;
	text-align: left;
}

.fontH2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ef233c;
  z-index: 1;
  position: relative;
}
  
.fontH5 {
  margin-top: -30px;
  font-size: 1rem;
  color: #ffd500;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.fontSection {
  font-size: 2rem;
  margin-top:5%;
  text-align: center;
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

.fontH2 {
  font-size: 3rem;
  color: #ef233c;
  font-weight: bold;
}
  
.fontH5 {
  margin-top: -30px;
  font-size: 1rem;
  color: #FF51EB;
  font-weight: bold;
}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
.landingContent {
  padding-top: 5%;
}

.fontH2 {
  font-size: 3rem;
  color: #ef233c;
  font-weight: bold;
}
  
.fontH5 {
  margin-top: -30px;
  font-size: 1rem;
  color: #ffd500;
  font-weight: bold;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .fontH2 {
    font-size: 4rem;
    color: #ef233c;
    font-weight: bold;
  }
    
  .fontH5 {
    margin-top: -30px;
    font-size: 2rem;
    color: #ffd500;
    font-weight: bold;
  }
}
